<h1>New Post</h1>
<%= form_with(url: posts_path, model: @post, local: true) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit "Post", disable_with: 'Submiting...' %>
<% end %>